.body {
    background: #fff;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    display: flex;
}
.header__img {
    width: 190px;
    height: 35px;
    left: 196px;
    top: 40px;
}

.header__menu {
    display: flex;
    Justify-content: flex-end;
}

.menu__link {
    top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.menu__link_active {
    border-bottom: 3px solid #0056EC;
}


.section__title_background1 {
    width: 497px;
    height: 69px;
    left: calc(50% - 497px/2 - 515.5px);
    top: 470px;
}

.section__title_background2 {
    width: 296px;
    height: 70px;
    left: calc(50% - 296px/2 - 616px);
    top: 555px;
}

.section__title {
    width: 567px;
    height: 255px;
    left: calc(50% - 567px/2 - 481.5px);
    top: 318px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 87px;
    display: flex;
    align-items: center;
    color: #000;
}

.section__description {
    width: 455px;
    height: 52px;
    left: calc(50% - 455px/2 - 537.5px);
    top: 613px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000;
}

.section__btn {
    width: 270.75px;
    height: 57px;
    left: calc(50% - 270.75px/2 - 628.62px);
    top: 706px;
    background: #0056EC;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    border-radius: 4px;
}

.main__img {
    width: 770px;
    height: 657px;
    left: calc(50% - 770px/2 + 378px);
    top: 242px;
}

.footer__img {
    width: 32px;
    height: 8px;
    left: 944px;
    top: 1032px;
}